
html {
	background-image: url("../images/bats.gif");	

}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	max-width: 960px;
	width: 95%;                        /* fixed width was 800 */
	background-color: white;
    
	margin: 0 auto!important; 
	padding: 0;
	border: 3px solid black;
	box-shadow: 0 9px 18px 9px;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}


header {
 
    background-image: linear-gradient(45deg, white 0%, orange 75%, black 100%);
    padding: .9375em 1.875% .9375em 1.875%;  /* 15 / 16; 15 / 800 x 100 */
} 

header img { 
	float: left; 
	padding-right: 1.875%; 
	width: 10.6%;
	max-width: 85px;
	min-width: 40px;
} 

header h3 {
	
	padding-bottom: .75em;
}
span{
    font-size: 57px;
}
section {
    padding: 2em 5%;
}
section h1 { 
	font-size: 140%;
	margin-bottom: .5em;
    margin-top: 0%;
}
.w{ 
    font-size: 300%;
}
section h2 {
	font-size: 115%;
	margin: .8em 0 .4em 0;
}
section p {
	margin-bottom: .5em;
}
section a {
	font-weight: bold;
	color: orange;
    
}
section a:link, main a:visited { 
    color: orange; 
}
section a:hover, main a:focus { 
    color: green;
}

a{
    color: orange;
}
footer { 
	border-top: 2px solid black;
	padding: .9375em 1.875% .9375em 1.875%;
   
    background-image: linear-gradient(45deg, black 0%, orange 25%, white 100%);
} 
footer p {
	font-size: 90%;
	text-align: center;
}